<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Missão Artemis</title>

    <style>
        body {
            background: #111;
            color: white;
            text-align: center;
            font-family: Arial;
        }

        img {
            width: 220px;
            margin: 8px;
            border-radius: 8px;
        }
    </style>
</head>

<body>

    <h1>Missão Artemis 🚀</h1>

    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Artemis_program_logo.svg">

    <p>
        A missão Artemis é um programa da NASA que levará humanos de volta à Lua.
    </p>

    <h2>Galeria</h2>

    <img src="https://images-assets.nasa.gov/image/KSC-20221116-PH-KLS01_0034/KSC-20221116-PH-KLS01_0034~medium.jpg">

    <img src="https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001861/GSFC_20171208_Archive_e001861~medium.jpg">

    <img src="https://images-assets.nasa.gov/image/KSC-20221116-PH-JBS01_0067/KSC-20221116-PH-JBS01_0067~medium.jpg">

    <img src="https://images-assets.nasa.gov/image/iss063e081540/iss063e081540~medium.jpg">

    <img src="https://images-assets.nasa.gov/image/PIA12235/PIA12235~medium.jpg">

</body>
</html>